#lupa-carro-cadastro-search {
    border-radius: 2rem 0rem 0rem 2rem;
  }

  #carro-cadastro-search {
    border-radius: 0rem 2rem 2rem 0rem;
  }

  #botao-salvar-produto {
    width: 35%;
    margin-top: 4%; 
    margin-block-end: 12%;
  }
  
.table tbody tr.highlight td {
  background-color: #ddd;
}
  